.cache
*.sh
*.tar.gz
*.zip
/.Build/*
/.php-cs-fixer.cache
/.vscode
/Build/node_modules
/Build/package-lock.json
/Build/Scripts
/Build/Vendor
/composer.lock
/Documentation-GENERATED/
/Documentation/conf.py
/Makefile
/TODO.md
